{{ if or .text_link_label .categories_link .series_link .tags_link }}
  <div class="dib bt bw1 b--black-10">
    {{ if .text_link_label }}
      <small class="db f7 pt3"><a href="{{ .text_link_url }}" class="dib fw7 ttu">{{ .text_link_label }}</a></small>
    {{ end }}
    {{ if .categories_link }}
      <small class="db f7 pt3"><a href="/categories/" class="dib fw7 ttu">Categories</a></small>
    {{ end }}
    {{ if .series_link }}
      <small class="db f7 pt3"><a href="/series/" class="dib fw7 ttu">Series</a></small>
    {{ end }}
    {{ if .tags_link }}
      <small class="db f7 pt3"><a href="/tags/" class="dib fw7 ttu">Tags</a></small>
    {{ end }}
  </div>
{{ end }}

<h3>Subscribe to my Newsletter!</h3>
<form action="https://formsubmit.co/shreyashsomvanshi03+newsletter_formsubmitco@gmail.com" method="post" accept-charset="utf-8"> 
  <div class="db dt-ns f5 w-100 mv4 mh0">
    <div class="db dtc-ns v-btm pr1-ns" style="display: none;">
      <label for="full-name">Name</label>
      <input type="text" name="name" id="full-name" placeholder="First Last">
    </div>
    <div class="db dtc-ns v-btm pr1-ns">
      <label for="email-address">Email</label>
      <input type="email" name="email" placeholder="your@email.here" required>
    </div>
    <div class="db dtc-ns v-btm pr1-ns" style="display: none;">
      <label for="message">Message</label>
      <textarea name="message" id="message" readonly>Newsletter</textarea>
    </div>
    <div class="db dtc-ns v-btm pr1-ns">
      <input type="hidden" name="_autoresponse" value="Thank you for subscribing my Newsletter -Shreyash Somvanshi!!">
      <input type="submit" value="Join">
    </div>
  </div>
</form>
